In [10]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import pandas as pd

In [3]:
analyzer = SentimentIntensityAnalyzer()

In [4]:
analyzer.polarity_scores('Why the fuck is this so amazing?!')

{'neg': 0.387, 'neu': 0.613, 'pos': 0.0, 'compound': -0.5848}

In [17]:
df = pd.DataFrame(['this is the first cool string', 'this is a very very bad string!'])

In [19]:
list1=[]
for string in df[0]:
    p = analyzer.polarity_scores(string)
    print(p['compound'])
    list1.append(p['compound'])

0.3182
-0.6557

In [12]:
text_series

                                 0
0    this is the first cool string
1  this is a very very bad string!

In [20]:
list1

[0.3182, -0.6557]

In [21]:
df['sentiment'] = list1

In [22]:
df

                                 0  sentiment
0    this is the first cool string     0.3182
1  this is a very very bad string!    -0.6557